
    body{
      overflow-x: hidden;
       font-family: "Rubik Glitch", system-ui;
       margin: 0;

    }
    .main{
        
        
    }
    .nav{
      position: fixed;
      z-index: 100;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      background-color:white;
      align-items: center;
     

     
    }
    .nav-mid{
        display: flex;
        flex-direction: row;
        gap: 50px;
       
    }
    .nav img{
        width: 130px;
        height: 130px;
    }
    .nav-left{
        display: flex;
        align-items: center;
        margin-right: 15px;
        gap: 10px;
    }
    .nav .nav-left img{
        width: 20px;
        height: 20px;
    }
    .nav .nav-mid a{
        text-decoration: none;
        color: black;
        transition: all 0.3s ease;
        font-size: 20px;
    }
     .nav .nav-mid a:hover{
    color: rgb(196, 39, 39);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .nav-left input{
    height: 20px;
    border: 3px solid gray;
    border-radius: 20px;
    padding: 10px;
  }
     .container-1{
        height:100vh;
        position: relative;
        background-image: url(./src/whey.jpg);
        width: 100vw;
        background-repeat: no-repeat;
        /* background-position: center; */
        background-size: cover;

    }